.follow__button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.1s ease-in;
}

.follow__button:hover{
    padding: 15px;
    transition: all 0.1s ease-in;
}

.user__follow__green{
    background-color: rgb(0, 190, 10);
    color: white;
}

.user__follow__gray{
    background-color: aliceblue;
    color: black;
}