
.comment{
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(82, 82, 82);
    border-radius: 30px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
    color: rgb(185, 184, 184);
    width: 90%;
}

.comment:hover{
    padding: 10px;
    transition: all 0.2s ease;
    color: white;
}



.comment__image > img{
    height: 50px;
    width: 50px;
    border-radius: 300px;
}

.comment > p{
    flex: 0.9;
    margin-left: 20px;
}

.comment > p > span {
    font-weight: 600;
    font-size: 18px;
}


