.home{
    display: flex;
    flex-direction: column;
    height: 89%;
    overflow-y: hidden;
    top: 80px;
    position: absolute;
  }
  
  @media only screen and (max-width: 800px){
    .home{
      height: 100%;
    }
  }